@import url('reset.css');
/* General Demo Style */

.container1{
	position:relative;
}

.clr{
	clear: both;
}
.main1{
	position:relative;
    width:680px;
    margin: 0 auto;
}
h1{
	margin:0px;
	padding:20px 20px 10px 20px;
	font-size:34px;
	color:#333;
    text-shadow:1px 1px 1px #fff;
	text-align:left;
	font-weight:400;
    text-align:center;
}
h1 span{
    display:block;
	font-size: 14px;
    
	color:#b2891b;
	padding-top:10px;
}
/* Header Style */



